[Desktop Entry]
Categories=Application;
Comment=panda-dock
Comment[zh_CN]=熊猫Dock
Exec=panda-dock
GenericName=panda-dock
GenericName[zh_CN]=熊猫Dock
Icon=panda-dock
Name=panda-dock
Name[zh_CN]=熊猫Dock
StartupNotify=false
Terminal=false
Type=Application
Version=1.0.0.0
